                 {% block body %}
                    <ul>
                        <li class="commentBox">
                            <div class="comments"> {{ comment.content }}</div>
                        </li>
                    </ul>
                 {% endblock %}

