<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                Êtes-vous sur de vouloir supprimer le trick.
            </div>
            <div class="modal-footer">
                <div class="col-3">
                    <a href="{{ path('delete_trick', {'id':trick.id}) }}">
                        Oui
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

