<div class="modal fade" id="deleteVideoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                Êtes-vous sur de vouloir supprimer cette video.
            </div>
            <div class="modal-footer">
                <div class="col-3">
                    <a href="{{ path('video_delete', {'idTrick': trick.id ,'videoId':media.id}) }}">
                        Oui
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
