{% extends'baseHomepage.html.twig' %}

{% block body %}
    <div class="container">
    <div class="jumbotron">
       <h3 class="jumbotron-title">Welcome to snowboard world</h3>
    </div>
    </div>
    <div class="second" id="secondDiv">
        <div class="row" id="container-tricks">
        {% include '_parts/_tric_card.html.twig' with { 'tricks': allTrick } %}
        </div>
        <div style="display: flex; justify-content: center">
            {% if page != pageTotal %}
            <button class="btn btn-primary" id="load-more" data-next-page="{{ page + 1 }}"
                    data-total-page="{{ pageTotal }}"
                    data-trick-ajax="{{ path('get_tricks_ajax') }}">Plus</button>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script language="JavaScript">
        $('#load-more').on('click', function(e) {
            const totalPage = $('#load-more').data('total-page');
            const nextPage = $('#load-more').data('next-page');
            const urlToCallAjax = $('#load-more').data('trick-ajax');
            fetch(urlToCallAjax + '?page=' + nextPage)
                .then((response) => response.json())
                .then(data => {
                    console.log(data);
                    if (nextPage === totalPage) {
                        //désactiver le boutton
                        $('#load-more').prop('disabled', true);
                    }
                    $('#load-more').data('next-page', nextPage + 1);
                    $('#container-tricks').append(data.html);
                });
            console.log(totalPage);
            console.log(nextPage);
            console.log(urlToCallAjax);
        });
    </script>
{% endblock %}
